/.venv
/lightning_logs
/lstmByHand.py
/lstm_torchlightning.py
/nn.py
/nn_torchlightning.py
/notebook
/model/__pycache__
data/MNIST_CSV/generate_mnist_csv.py
data/MNIST/generate_mnist_csv.py
Airpollution_mutivariant_LSTM_lightning.py
data/airpollution/airpollution_note.odt
data/airpollution/AirPollution.csv
data/MNIST/mnist_train.csv
.gitignore
data/MNIST/mnist_test.csv
